<div class="grid">
    <div class="col-12">
        <div class="card">
            
        
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    
                    <p-dropdown [options]="projects" [(ngModel)]="selectedProject" optionLabel="intitule_projet" placeholder="Selectionnez un projet" class="mr-2" [showClear]="false"  value="intitule_projet" (onChange)="getSelectedProject($event)"></p-dropdown>

                    <div class="my-2 float-right"  *ngIf="ajoutB">
                        <button pButton pRipple label="Ajouter Indicateur" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                   
            </ng-template>
            </p-toolbar>


            <p-table #dt [value]="indicateurs"  responsiveLayout="scroll"  [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des indicateurs</h5>
                        <!--span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span-->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        

                        <th pSortableColumn="libele_indicateur">Libele<p-sortIcon field="libele_indicateur"></p-sortIcon></th>
                        <th pSortableColumn="description_indicateur">Description<p-sortIcon field="description_indicateur"></p-sortIcon></th>
                        <th pSortableColumn="format_indicateur">Format <p-sortIcon field="format_indicateur"></p-sortIcon></th>
                        <th pSortableColumn="unite_mes_indicateur">Unité <p-sortIcon field="unite_mes_indicateur"></p-sortIcon></th>

                        <th pSortableColumn="objres">Nature<p-sortIcon field="objres"></p-sortIcon></th>
                        <!--th pSortableColumn="tendance_souhaite_hausse">Tendance souahitée<p-sortIcon field="tendance_souhaite_hausse"></p-sortIcon></th>
                        <th pSortableColumn="Associe">Associé<p-sortIcon field="Associe"></p-sortIcon></th-->

                        <th pSortableColumn="valeur_initiale_indicateur">Valeur Départ<p-sortIcon field="valeur_initiale_indicateur"></p-sortIcon></th>
                        <th pSortableColumn="valeur_cible_indicateur">Valeur Cible<p-sortIcon field="valeur_cible_indicateur"></p-sortIcon></th>
                        <th pSortableColumn="date_prevu_realisation_indicateur">Date Prevu Realisation<p-sortIcon field="date_prevu_realisation_indicateur"></p-sortIcon></th>
                        <th>Suivi</th>
                        <th> </th>
  
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-indicateur >
                    <tr>
                    


                        <td style="width:20%; min-width:10rem;"><span class="p-column-title">Libele</span>
                            {{indicateur.libele_indicateur}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{indicateur.description_indicateur}}
                        </td>
                 
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Format</span>
                            {{indicateur.format_indicateur}}
                        </td>

                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Unite</span>
                            {{indicateur.unite_mes_indicateur}}
                        </td>

                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Nature</span>
                            {{indicateur.objres}}
                        </td>

                    
                 
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Valeur Départ</span>
                            {{indicateur.valeur_initiale_indicateur}}
                        </td>

                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Valeur Cible</span>
                            {{indicateur.valeur_cible_indicateur}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Date Prevu Realisation</span>
                            {{indicateur.date_prevu_realisation_indicateur}}
                        </td>


                          
                       <td>
                        <div class="flex">
                            <button pButton pRipple type="button" label="Plan" class="p-button-outlined mr-2" (click)="openNewDP()"></button>
                            <button pButton pRipple type="button" label="Suivi" class="p-button-outlined p-button-success"></button>
                        </div>
                       </td>

                  
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editIndicateur(indicateur)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteIndicateur(indicateur.id_indicateur)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        
        
        </div>




    <!-- MODAL ajout indicateur  -->
    <p-dialog [(visible)]="indicateurDialog" [style]="{width: '1000px'}" header="Ajouter Indicateur - {{selectedNameProject}}" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            
           
            
            <div class="formgrid grid">
            

                <div class="field col">
                    <label for="libele_indicateur">Libelé</label>
                    <input type="text" id="libele_indicateur" pInputText [(ngModel)]="newIndicateur.libele_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.libele_indicateur}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.libele_indicateur">Ce champs est obligatoire</small>
                </div>


                <div class="field col">
                    <label for="format_indicateur">Format</label>
                    <input type="text"  id="format_indicateur" pInputText  [(ngModel)]="newIndicateur.format_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.format_indicateur}" >
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.format_indicateur">Ce champs est obligatoire</small>
                 </div>
                 

                <div class="field col">
                    <label for="unite_mes_indicateur">Unité mesure</label>
                    <input type="text"  id="unite_mes_indicateur" pInputText [(ngModel)]="newIndicateur.unite_mes_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.unite_mes_indicateur}" />
                   <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.unite_mes_indicateur">Ce champs est obligatoire</small>
                </div>
           
            </div>
        

            <div class="field">
                <label for="description_indicateur">Description</label>
                <textarea id="description_indicateur" pInputText   [(ngModel)]="newIndicateur.description_indicateur"  rows="3" cols="20"></textarea>
            </div>


            <div class="formgrid grid">
            <div class="field col">
                <label for="valeur_initiale_indicateur">Valeur Départ</label>
                <input type="text"  id="valeur_initiale_indicateur" pInputText [(ngModel)]="newIndicateur.valeur_initiale_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.valeur_initiale_indicateur}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.valeur_initiale_indicateur">Ce champs est obligatoire</small>
            </div>


            <div class="field col">
                <label for="valeur_cible_indicateur">Valeur Cible</label>
                <input type="text"  id="valeur_cible_indicateur" pInputText [(ngModel)]="newIndicateur.valeur_cible_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.valeur_cible_indicateur}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.valeur_cible_indicateur">Ce champs est obligatoire</small>
            </div>


            <div class="field col">
                <label for="date_prevu_realisation_indicateur">Date Prévue Realisation</label>
                <p-calendar [required]="true" id="date_prevu_realisation_indicateur" [(ngModel)]="newIndicateur.date_prevu_realisation_indicateur" [showIcon]="true" inputId="icon" autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.date_prevu_realisation_indicateur}" ></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.date_prevu_realisation_indicateur">Ce champs est obligatoire</small>
            </div>

            </div>


            <div class="formgrid grid">
              
              
              

            <div class="field col">
                <label for="objres">Nature</label>
                <p-dropdown [options]="objresa"  optionLabel="label" optionValue="value" [(ngModel)]="newIndicateur.objres" placeholder="Selectionnez nature" class="mr-2" [showClear]="false" (onChange)="getNature($event)"></p-dropdown>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.objres">Ce champs est obligatoire</small>
            </div>


            <div class="field col" >
                <label for="id_objres">Objectif / Résultat</label>
                <p-dropdown id="id_objres"  [options]="objresLibea" optionValue="id_objectif" [(ngModel)]="newIndicateur.id_objres" optionLabel="libele_objectif"  class="mr-2" [showClear]="false" ></p-dropdown>

                <!--input type="text"   id="id_objres" pInputText [(ngModel)]="newIndicateur.id_objres" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.id_objres}"/-->
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.id_objres">Ce champs est obligatoire</small>
            </div>






            <div class="field col">
                <label for="objres">Moyen verification</label>
                <input type="text"  id="moyen_verification_indicateur" pInputText [(ngModel)]="newIndicateur.moyen_verification_indicateur" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newIndicateur.moyen_verification_indicateur}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !newIndicateur.moyen_verification_indicateur">Ce champs est obligatoire</small>
            </div>

        </div>

        <br><br><br>

        


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button  type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createIndicateur()"></button>

        </ng-template>

    </p-dialog>



     <!-- MODAL ajout date plan   -->
     <p-dialog [(visible)]="indicateurDPDialog" [style]="{width: '1000px'}" header="Créer un Plan" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            
            <div class="formgrid grid">

                <div class="field col-2 mr-10">

                <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"></button>
                    <br> <br>
                </div>

            </div>
            
            <div class="formgrid grid">
            
  
                <div class="field col">
                    <label for="libele_DP">Libelé Date</label>
                    <input type="text" id="libele_DP" pInputText [(ngModel)]="newIndicateurDP.libele_DP" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.libele_DP}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.libele_DP">Ce champs est obligatoire</small>
                </div>



                <div class="field col">
                    <label for="date_planification">Date Plan</label>
                    <p-calendar [required]="true" id="date_planification" [(ngModel)]="newIndicateurDP.date_planification" [showIcon]="true" inputId="icon" autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.date_planification}" ></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.date_planification">Ce champs est obligatoire</small>
                </div>


                <div class="field col">
                    <label for="valeur_cible_date">valeur Cible</label>
                    <input type="text" id="valeur_cible_date" pInputText [(ngModel)]="newIndicateurDP.valeur_cible_date" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.valeur_cible_date}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.valeur_cible_date">Ce champs est obligatoire</small>
                </div>


                <div class="field col">
                    <label><br></label>

                    <button pButton pRipple type="button" label="Editer" class="p-button-warning p-button-text"></button>
                </div>
  
           
            </div>
        
            <div class="formgrid grid">
            
  
                <div class="field col">
                    <label for="libele_DP">Libelé Date</label>
                    <input type="text" id="libele_DP" pInputText [(ngModel)]="newIndicateurDP.libele_DP" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.libele_DP}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.libele_DP">Ce champs est obligatoire</small>
                </div>



                <div class="field col">
                    <label for="date_planification">Date Plan</label>
                    <p-calendar [required]="true" id="date_planification" [(ngModel)]="newIndicateurDP.date_planification" [showIcon]="true" inputId="icon" autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.date_planification}" ></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.date_planification">Ce champs est obligatoire</small>
                </div>


                <div class="field col">
                    <label for="valeur_cible_date">valeur Cible</label>
                    <input type="text" id="valeur_cible_date" pInputText [(ngModel)]="newIndicateurDP.valeur_cible_date" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedDP && !newIndicateurDP.valeur_cible_date}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submittedDP && !newIndicateurDP.valeur_cible_date">Ce champs est obligatoire</small>
                </div>


                <div class="field col">
                    <label><br></label>

                    <button pButton pRipple type="button" label="Editer" class="p-button-warning p-button-text"></button>
                </div>
  
           
            </div>
  
  
        </ng-template>
        
  
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogDP()"></button>
            <button  type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createIndicateurDP()"></button>
  
        </ng-template>
  
    </p-dialog>








    </div>
    </div>